/* App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* makes footer stick to bottom */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  width: 100%;
  background-color: #f5f5f5; 
}*/

.header {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  text-align: center;
}

.content {
  flex: 1;
  padding: 0;
  margin: 0;
  background-color: white; /* or another color */
}


.content .hero {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.footer {
  background-color: #ddd;
  padding: 1rem;
  text-align: center;
}

